{% extends 'base.html.twig' %}

{% block title %}New Institue{% endblock %}

{% block body %}
    <h1>Create new Institue</h1>

    {{ include('institue/_form.html.twig') }}

    <a href="{{ path('app_institue_index') }}">back to list</a>
{% endblock %}
